* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: sen;
  src: url('./fonts/outfit/fonts/ttf/Outfit-SemiBold.ttf');
}
@font-face {
  font-family: bennn;
  src: url('./fonts/Sora/Sora-VariableFont_wght.ttf');
}
.main {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px 0 120px;
  background-color: rgb(15, 15, 17);
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  font-family: sen;
}
.cartIcon {
  cursor: pointer;
}
.products {
  height: auto;
  width: 100%;
  padding: 80px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  column-gap: 80px;
  row-gap: 80px;
  margin-top: 80px;
  background-color: rgb(240, 240, 240);
}
.product {
  height: 340px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 4px 4px 12px rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 4px;
}
.productImg {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.productDetails {
  height: 28%;
  width: 100%;
  padding: 5px;
  display: flex;
  background-color: rgb(15, 15, 15);
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #ffffff;
  font-family: bennn;
}
.productDesc {
  height: 70%;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: bennn;
}
.productPrice {
  height: 30%;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.modal {
  position: fixed;
  top: 10vh;
  left: 10%;
  height: 80vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  background-color: rgb(32, 32, 32);
  color: #ffffff;
  font-family: bennn;
}
.modalImg {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.modalImg img {
  height: 100%;
  width: 90%;
  object-fit: cover;
}
.modalDesc {
  height: 60%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}
.modalDetails {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.modalDesc button {
  height: 42px;
  width: 180px;
  border: none;
  border-radius: 2px;
  background-color: rgb(0, 71, 165);
  color: #ffffff;
  cursor: pointer;
}
.closeModal {
  position: absolute;
  top: 20px;
  right: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

/*  ------------------------ Cart ----------------------- */

.cart {
  position: absolute;
  top: 90px;
  right: 20px;
  width: 480px;
  height: 600px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  row-gap: 20px;
  padding: 20px;
  border-radius: 4px;
  background-color: rgb(54, 68, 80);
  overflow: scroll;
  display: none;
  z-index: 10;
}
.cart button {
  height: 32px;
  width: 160px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
  justify-self: center;
}
.cart p {
  color: #ffffff;
  align-self: center;
  justify-self: center;
}
.show_cart {
  display: grid;
}
.cartProduct {
  height: 220px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  margin: auto;
}
.cartProduct button {
  height: 28px;
  width: 120px;
  background-color: tomato;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 2px;
}
.cartProductCard {
  height: 84%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
}
.CartImg {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c0c0c;
  border-radius: 4px;
}
.CartImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.CartProductDetails {
  width: 60%;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.CartProductQuantity {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.CartProductQuantity p {
  width: 50%;
  font-size: 16px;
}
.QuantityControlers {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.QuantityControlers span {
  color: rgb(255, 255, 255);
}

@media screen and (max-width:480px) {
  
}